<div class="row"> <!--Row 1 - Start -->
  <div class="col-md-8"> <!--Col 1 - Start -->

    <h3>Customers List</h3>
    <button routerLink="0/edit" class="btn btn-primary">Add Customer</button>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Customer ID</th>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.customerId }}</td>
              <td>
                <a [routerLink]="['/customers', customer.customerId]" >
                  {{ customer.firstName }} {{ customer.lastName }}
                </a>
              </td>
              <td>{{ customer.email }}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm"
                        [routerLink]="['/customers', customer.customerId, 'edit']">
                  Edit
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div> <!--Col 1 - End -->
</div> <!--Row 1 - End -->
