<div class="row"> <!--Row 1 - Start -->
  <div class="col-6"> <!--Col 1 - Start -->

    <h3>Customers List</h3>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Customer ID</th>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.customerId }}</td>
              <td>
                <a href="javascript:void(0);" (click)="getCustomerDetails(customer)">
                  {{ customer.firstName }} {{ customer.lastName }}
                </a>
              </td>
              <td>{{ customer.email }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div> <!--Col 1 - End -->

  <div class="col-6" *ngIf="currentCustomer"> <!--Col 2 - Start -->
    <app-customer-detail [childCustomer]="currentCustomer"></app-customer-detail>
  </div>

</div> <!--Row 1 - End -->
