<div class="row"> <!--Row 1 - Start -->
  <div class="col-10"> <!--Col 1 - Start -->
    <h3>Customer's Detail</h3>
  </div> <!--Col 1 - End -->
</div> <!--Row 1 - End -->

<div *ngIf="(customer$ | async) as customer; else loading"> <!--ngIf - Start -->
<div class="row"> <!--Row 2 - Start -->
  <div class="col-md-6"> <!--Col 2 - Start -->

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Name: </td>
        <td>{{ customer.firstName }} {{ customer.lastName }}</td>
      </tr>
      <tr>
        <td>Customer Since: </td>
        <td>{{ customer.customerSince | date: 'LLL, y' }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ customer.email }}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ customer.phone }}</td>
      </tr>
      <tr>
        <td>Address Line 1: </td>
        <td>{{ customer.line1 }}</td>
      </tr>
      <tr>
        <td>Address Line 2: </td>
        <td>{{ customer.line2 }}</td>
      </tr>
      <tr>
        <td>City: </td>
        <td>{{ customer.city }}</td>
      </tr>
      <tr>
        <td>Province: </td>
        <td>{{ customer.province }}</td>
      </tr>
      <tr>
        <td>Postal Code: </td>
        <td>{{ customer.postalCode }}</td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-outline-primary btn-sm"
                  [routerLink]="['/customers', customer.customerId, 'edit']">
            Edit
          </button>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div> <!--Col 1 - End -->
</div> <!--Row 2 - End -->
</div> <!--ngIf - End-->

<ng-template #loading>
  <p>Loading API ...</p>
</ng-template>
