<div class="row"> <!--Row 1 - Start-->
  <div class="col">
    <app-jumbotron></app-jumbotron>
  </div>
</div> <!--Row 1 - End-->

<div class="row"> <!--Row 2 - Start-->

  <div class="col-md-4"> <!--Col 1 - Start-->
    <app-card></app-card>
  </div> <!--Col 1 - End-->

  <div class="col-md-4"> <!--Col 2 - Start-->
    <app-card></app-card>
  </div> <!--Col 2 - End-->

  <div class="col-md-4"> <!--Col 3 - Start-->
    <app-card></app-card>
  </div> <!--Col 3 - End-->

</div> <!--Row 2 - End-->

