<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row"> <!-- ROW 1 - Start -->

        <div class="col-md-9 col-sm-12"> <!--Column1 - Start -->

          <div class="footer-pad">
            <h4>London Sales Inc.</h4>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Orders</a></li>
            </ul>
          </div>
        </div> <!--Column1 - End -->

        <div class="col-md-3 col-sm-12"> <!--Column2 - Start -->
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div> <!--Column2 - End -->

      </div> <!-- ROW 1 - End -->

      <div class="row"> <!-- ROW 2 - Start -->
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2018 - London Sales Inc.  All rights reserved.</p>
        </div>
      </div> <!-- ROW 2 - End -->


    </div>
  </div>
</footer>
